.body{
    border: 20%;
}
.about{
    margin-bottom: 10%;
}
.Education{
    margin-bottom: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 20%;
}
.experience{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10%;
}
.img{
    padding: 5%;
}