h1{
    font-size: 20px;
}
.About {
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 5%;
}
.title {
    height: 30%;
}

.element {
    display: flex;
    flex-direction: row;
}
.skill {
    width: 50%;
}

.tool {
    width: 50%;
}

.education {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.education-img {
    width: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.education-img img {
    width: 50%;
}

.education-element {
    width: 50%;
}

.element {
    height: 30%;
}
